venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/

.git/
.gitignore
.github/

.mypy_cache/
.pytest_cache/
.ruff_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.nox/

*.db
*.db-journal
*.sqlite
*.sqlite3

.env
.env.*
*.log

.idea/
.vscode/
*.swp
*.swo
.DS_Store
